.cartContainer {
  min-height: 60vh;
  padding: 40px;
  background-color: #f4f6fa;
  color: #f8fafc;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.titulo {
  font-size: 2.5rem;
  color: #031832;
}

.texto {
  font-size: 1.1rem;
  color: #031832;
}